*, html {
	background-color: gray;
	color: white;
	text-align: center;
	font-family: cursive;
}

button {
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.grid {
	width: 600px;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	border-style: solid;
	margin: 1rem auto;
}

.grid div {
	width: 60px;
	height: 60px;
}

.snake {
	background-color: blue;
}

.apple {
	background-color: red;
}

.footer p{
	background: #696969;
	color: #fff;
	padding: 1rem;
}

#date {
	color: white;
	padding-top: 2rem;
}

