*, html {
	background-color: rgb(130, 145, 165);
	color: white;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}

button {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	box-shadow: 2px 1px 4px yellow;
	text-shadow: 2px 1px 4px yellow;
}

h1, h3, .score, .footer, #date{
	text-shadow: 2px 1px 4px yellow;
}

.grid {
	width: 600px;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	border-style: solid;
	margin: 1rem auto;
}

.grid div {
	width: 60px;
	height: 60px;
}

.snake {
	background-image: url('cobra.jpeg');
	background-size: cover;
}

.apple {
	background-image: url('maca.jpeg');
	background-size: cover;
}

.footer p {
	background: #696969;
	color: #fff;
	padding: 1rem;
}

.directions button {
	font-size: 4rem;
	margin: 2rem;
}

#date {
	color: white;
	padding-top: 2rem;
}